{% load static %}

<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Eco Balance</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.svg' %}"/>
    </head>

    <body>
        <div class="system-page">

            {%  include 'sidebar/sidebar.html' %}

            <div class="system-content" id="system-content">

                <div class="body-content">
                    <div class="content-items">

            
                        <div class="page-content" id="inventory">
                            <div class="inventory-content">

                                <div class="top-menu-wrapper">
                                    <div class="top-menu">
                            
                                        <div class="top-menu-buttons">
                                            <button class="custom-btn" id="new-inventory">
                                                <span>
                                                    Novo Inventário
                                                </span>
                                            </button>
                                        </div>
                            
                                        <div class="user-data">
                                    
                                            <div class="log-out">
                                                <img src="{% static 'images/log_out.svg' %}">
                                                <form  method="post">
                                                    {% csrf_token %}
                                                    <button type="submit">Sair</button>
                                                </form>
                                            </div>
                                    
                                            <span></span>
                                    
                                            <div class="user-name">
                                                <label>{{ user.first_name }}</label>
                                            </div>
                                    
                                            <div class="user-avatar">
                                                <img src="{{ user.perfil.url }}" alt="perfil_do_usuario">
                                            </div>
                                    
                                        </div>
                                    </div>
                                    <div class="division">
                                        <span></span>
                                    </div>
                                    <div class="division-bar">
                                        <span></span>
                                    </div>
                                </div>

                                <div>
                                    <div class="container">
                                        <form>
                                          <div class="row">
                                            <h4>Account</h4>
                                            <div class="input-group input-group-icon">
                                              <input type="text" placeholder="Full Name" />
                                              <div class="input-icon">
                                                <i class="fa fa-user"></i>
                                              </div>
                                            </div>
                                            <div class="input-group input-group-icon">
                                              <input type="email" placeholder="Email Address" />
                                              <div class="input-icon">
                                                <i class="fa fa-envelope"></i>
                                              </div>
                                            </div>
                                            <div class="input-group input-group-icon">
                                              <input type="password" placeholder="Password" />
                                              <div class="input-icon">
                                                <i class="fa fa-key"></i>
                                              </div>
                                            </div>
                                          </div>
                                          
                                          <div class="row">
                                            <div class="col-half">
                                              <h4>Date of Birth</h4>
                                              <div class="input-group">
                                                <div class="col-third">
                                                  <input type="text" placeholder="DD" />
                                                </div>
                                                <div class="col-third">
                                                  <input type="text" placeholder="MM" />
                                                </div>
                                                <div class="col-third">
                                                  <input type="text" placeholder="YYYY" />
                                                </div>
                                              </div>
                                            </div>
                                            <div class="col-half">
                                              <h4>Gender</h4>
                                              <div class="input-group">
                                                <input type="radio" id="gender-male" name="gender" value="male" />
                                                <label for="gender-male">Male</label>
                                                <input type="radio" id="gender-female" name="gender" value="female" />
                                                <label for="gender-female">Female</label>
                                              </div>
                                            </div>
                                          </div>
                                          
                                          <div class="row">
                                            <h4>Payment Details</h4>
                                            <div class="input-group">
                                              <input
                                                type="radio"
                                                id="payment-method-card"
                                                name="payment-method"
                                                value="card"
                                                checked="true"
                                              />
                                              <label for="payment-method-card">
                                                <span>
                                                  <i class="fa fa-cc-visa"></i> Credit Card
                                                </span>
                                              </label>
                                              <input
                                                type="radio"
                                                id="payment-method-paypal"
                                                name="payment-method"
                                                value="paypal"
                                              />
                                              <label for="payment-method-paypal">
                                                <span>
                                                  <i class="fa fa-cc-paypal"></i> Paypal
                                                </span>
                                              </label>
                                            </div>
                                            <div class="input-group input-group-icon">
                                              <input type="text" placeholder="Card Number" />
                                              <div class="input-icon">
                                                <i class="fa fa-credit-card"></i>
                                              </div>
                                            </div>
                                            <div class="col-half">
                                              <div class="input-group input-group-icon">
                                                <input type="text" placeholder="Card CVC" />
                                                <div class="input-icon">
                                                  <i class="fa fa-user"></i>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="col-half">
                                              <div class="input-group">
                                                <select>
                                                  <option>01 Jan</option>
                                                  <option>02 Jan</option>
                                                </select>
                                                <select>
                                                  <option>2015</option>
                                                  <option>2016</option>
                                                </select>
                                              </div>
                                            </div>
                                          </div>
                                          
                                          <div class="row">
                                            <h4>Terms and Conditions</h4>
                                            <div class="input-group">
                                              <input type="checkbox" id="terms" />
                                              <label for="terms">
                                                I accept the terms and conditions for signing up to this service, and
                                                hereby confirm I have read the privacy policy.
                                              </label>
                                            </div>
                                          </div>
                                        </form>
                                    </div>
                                
                                </div>
                                
                            </div>
                        </div>

                        
                    </div>
                </div>
            
            </div>


        </div>
    </body>

    
</html>