{% load static %}
<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Desenvolvimento</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>

    <body>
        <!-- Navbar -->
        <nav id="navbar">
            <ul class="navbar-items flexbox-col">
            <li class="navbar-logo flexbox-left">
                <a class="navbar-item-inner flexbox">
                <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 1438.88 1819.54">
                    <polygon points="925.79 318.48 830.56 0 183.51 1384.12 510.41 1178.46 925.79 318.48"/>
                    <polygon points="1438.88 1663.28 1126.35 948.08 111.98 1586.26 0 1819.54 1020.91 1250.57 1123.78 1471.02 783.64 1663.28 1438.88 1663.28"/>
                </svg>
                </a>
            </li>
            <li class="navbar-item flexbox-left">
                <a class="navbar-item-inner flexbox-left">
                <div class="navbar-item-inner-icon-wrapper flexbox">
                    <ion-icon name="search-outline"></ion-icon>
                </div>
                <span class="link-text">Search</span>
                </a>
            </li>
            <li class="navbar-item flexbox-left">
                <a class="navbar-item-inner flexbox-left">
                <div class="navbar-item-inner-icon-wrapper flexbox">
                    <ion-icon name="home-outline"></ion-icon>
                </div>
                <span class="link-text">Home</span>
                </a>
            </li>
            <li class="navbar-item flexbox-left">
                <a class="navbar-item-inner flexbox-left">
                <div class="navbar-item-inner-icon-wrapper flexbox">
                    <ion-icon name="folder-open-outline"></ion-icon>
                </div>
                <span class="link-text">Projects</span>
                </a>
            </li>
            <li class="navbar-item flexbox-left">
                <a class="navbar-item-inner flexbox-left">
                <div class="navbar-item-inner-icon-wrapper flexbox">
                    <ion-icon name="pie-chart-outline"></ion-icon>
                </div>
                <span class="link-text">Dashboard</span>
                </a>
            </li>
            <li class="navbar-item flexbox-left">
                <a class="navbar-item-inner flexbox-left">
                <div class="navbar-item-inner-icon-wrapper flexbox">
                    <ion-icon name="people-outline"></ion-icon>
                </div>
                <span class="link-text">Team</span>
                </a>
            </li>
            <li class="navbar-item flexbox-left">
                <a class="navbar-item-inner flexbox-left">
                <div class="navbar-item-inner-icon-wrapper flexbox">
                    <ion-icon name="chatbubbles-outline"></ion-icon>
                </div>
                <span class="link-text">Support</span>
                </a>
            </li>
            <li class="navbar-item flexbox-left">
                <a class="navbar-item-inner flexbox-left">
                <div class="navbar-item-inner-icon-wrapper flexbox">
                    <ion-icon name="settings-outline"></ion-icon>
                </div>
                <span class="link-text">Settings</span>
                </a>
            </li>
            </ul>
        </nav>
        
        <!-- Main -->
        <main id="main" class="flexbox-col">
            <div class="container">
                <form>
                  <div class="row">
                    <h4>Account</h4>
                    <div class="input-group input-group-icon">
                      <input type="text" placeholder="Full Name" />
                      <div class="input-icon">
                        <i class="fa fa-user"></i>
                      </div>
                    </div>
                    <div class="input-group input-group-icon">
                      <input type="email" placeholder="Email Address" />
                      <div class="input-icon">
                        <i class="fa fa-envelope"></i>
                      </div>
                    </div>
                    <div class="input-group input-group-icon">
                      <input type="password" placeholder="Password" />
                      <div class="input-icon">
                        <i class="fa fa-key"></i>
                      </div>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col-half">
                      <h4>Date of Birth</h4>
                      <div class="input-group">
                        <div class="col-third">
                          <input type="text" placeholder="DD" />
                        </div>
                        <div class="col-third">
                          <input type="text" placeholder="MM" />
                        </div>
                        <div class="col-third">
                          <input type="text" placeholder="YYYY" />
                        </div>
                      </div>
                    </div>
                    <div class="col-half">
                      <h4>Gender</h4>
                      <div class="input-group">
                        <input type="radio" id="gender-male" name="gender" value="male" />
                        <label for="gender-male">Male</label>
                        <input type="radio" id="gender-female" name="gender" value="female" />
                        <label for="gender-female">Female</label>
                      </div>
                    </div>
                  </div>
                  
                  <div class="row">
                    <h4>Payment Details</h4>
                    <div class="input-group">
                      <input
                        type="radio"
                        id="payment-method-card"
                        name="payment-method"
                        value="card"
                        checked="true"
                      />
                      <label for="payment-method-card">
                        <span>
                          <i class="fa fa-cc-visa"></i> Credit Card
                        </span>
                      </label>
                      <input
                        type="radio"
                        id="payment-method-paypal"
                        name="payment-method"
                        value="paypal"
                      />
                      <label for="payment-method-paypal">
                        <span>
                          <i class="fa fa-cc-paypal"></i> Paypal
                        </span>
                      </label>
                    </div>
                    <div class="input-group input-group-icon">
                      <input type="text" placeholder="Card Number" />
                      <div class="input-icon">
                        <i class="fa fa-credit-card"></i>
                      </div>
                    </div>
                    <div class="col-half">
                      <div class="input-group input-group-icon">
                        <input type="text" placeholder="Card CVC" />
                        <div class="input-icon">
                          <i class="fa fa-user"></i>
                        </div>
                      </div>
                    </div>
                    <div class="col-half">
                      <div class="input-group">
                        <select>
                          <option>01 Jan</option>
                          <option>02 Jan</option>
                        </select>
                        <select>
                          <option>2015</option>
                          <option>2016</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  
                  <div class="row">
                    <h4>Terms and Conditions</h4>
                    <div class="input-group">
                      <input type="checkbox" id="terms" />
                      <label for="terms">
                        I accept the terms and conditions for signing up to this service, and
                        hereby confirm I have read the privacy policy.
                      </label>
                    </div>
                  </div>
                </form>
              </div>
        
        </main>
    </body>
</html>