{% load static %}
<!DOCTYPE html>
<html lang="en">

{% include 'base.html' %}

<body>
    <div class="container-login">
        <div class="login-page">
            <form class="form-signin", method="post" autocomplete="off">
                {% csrf_token %}
                <div class="login-card">
                    <h3>Login</h3>
                    <div class="input">
                        <input type="email" id="username" name="username" class="form-control" placeholder="E-mail" required autofocus>
                        <input type="password" id="password" name="password" class="form-control" placeholder="Senha" required>
                    </div>
                    <button class="btn" type="submit">Entrar</button>
                </div>
            </form>
            
        </div>
    </div>
</body>
</html>