<div class="modal-container" id="modal-new-project" style="--m-background: rgba(0, 0, 0, 0.5);">
    <div class="container-form">
        <div class="text">
            Novo Projeto
        </div>
        
        
        <form action="#" method="post">
            {% csrf_token %}

            <div class="form-row">

                <div class="input-data">
                    {{ project_form.name }}
                    <div class="underline"></div>
                    <label>Nome do Projeto</label>
                </div>

            </div>

            <div class="form-row">

                <div class="input-data">
                    {{ project_form.description }}
                    <div class="underline"></div>
                    <label>Descrição</label>
                </div>
                
            </div>

            <button type="submit" class="btn-form">Salvar</button>
        </form>

    </div>
</div>