{% load static %}

<!DOCTYPE html>
<html lang="en">

{% include 'base.html' %}

<body>

    {% include 'sidebar.html' %}

    <div class="project-body">
        <!-- Painel de Projetos -->
        <div class="project-menu">
            <div class="project-list">

                {% for project in projects %}
                    <a href="{% url 'project_id' project_id=project.id %}">
                        <div class="project-card {% if project.id == project_id %} selected-project {% endif %}">
                            <h2>{{ project.name }}</h2>
                            <p>{{ project.description }}</p>
                        </div>
                    </a>
                {% endfor %}

                <!-- Botão "Novo Projeto" fixo na base -->
                <button class="new-project-btn" id="new-project-btn">+ Adicionar um cartão</button>
            </div>
    
            <!-- Tabela de Tarefas -->
            <div class="task-table-container" id="task-table-container">
                <ul class="responsive-table">
                    <li class="table-header">
                        <div class="col col-1">Nome</div>
                        <div class="col col-2">Descrição</div>
                        <div class="col col-3">Status</div>
                        <div class="col col-4">Prazo</div>
                    </li>
                </ul>
                <ul class="responsive-table" id="task-table-body">
                    {% for task in tasks %}
                        {% if task.project_id == project_id %}
                            <li class="table-row" name="{{ task.id }}" onclick="selectTask('{{ task.id }}')">
                                <div class="col col-1">{{ task.name }}</div>
                                <div class="col col-2">{{ task.description }}</div>
                                <div class="col col-3">{{ task.status }}</div>
                                <div class="col col-4">{{ task.deadline }}</div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <!-- Botão de Nova Task -->
                <div class="new-task-btn" id="new-task-btn">+ Nova Tarefa</div>
            </div>
    
            <!-- Área de edição -->
            <div class="edit-container">
                <h5>Área em manutenção</h5>
            </div>
        </div>

        {% include 'new_project_modal.html' %}

        {% include 'new_task_modal.html' %}

        <script>
            const newProject = document.getElementById('new-project-btn');
            const newTask = document.getElementById('new-task-btn');
            const projectCards = document.querySelectorAll('.project-card');


            function selectTask(name) {
                // Atualizar estilo de seleção de tarefa
                document.querySelectorAll('.table-row').forEach(row => row.classList.remove('selected-task'));
                console.log(document.getElementsByName(name).classList);
                document.getElementsByName(name)[0].classList.add('selected-task');
            }


            if(newProject) {
                newProject.addEventListener('click', function() {
                    document.getElementById('modal-new-project').style.display = 'flex';
                });
            };

            window.addEventListener('click', function(event) {
                if (event.target === document.getElementById('modal-new-project')) {
                    document.getElementById('modal-new-project').style.display = 'none';
                }
            });



            if(newTask) {
                newTask.addEventListener('click', function() {
                    document.getElementById('modal-new-task').style.display = 'flex';
                });
            };

            window.addEventListener('click', function(event) {
                if (event.target === document.getElementById('modal-new-task')) {
                    document.getElementById('modal-new-task').style.display = 'none';
                }
            });
        </script>
    </div>

</body>

</html>
