{% load static %}
<!DOCTYPE html>
<html lang="en">

{% include 'base.html' %}

<body>

    {% include 'sidebar.html' %}

    <!-- Main -->
    <main id="main" class="flexbox-col">

        <div class="container">
            <form>

            <div class="row">

                <h4>Cadastro de Propriedade</h4>

                <div class="input-group input-group-icon">
                <input type="text" placeholder="Nome da Propriedade" />
                <div class="input-icon">
                    <i class="fa fa-user"></i>
                </div>
                </div>

                <div class="input-group input-group-icon">
                <input placeholder="Área (ha)" />
                <div class="input-icon">
                    <i class="fa fa-envelope"></i>
                </div>

                <input placeholder="Matrícula" />
                <div class="input-icon">
                    <i class="fa fa-key"></i>
                </div>
                </div>

                <div class="input-group input-group-icon">
                <input placeholder="CCIR" />
                <div class="input-icon">
                    <i class="fa fa-envelope"></i>
                </div>

                <input placeholder="Valor" />
                <div class="input-icon">
                    <i class="fa fa-key"></i>
                </div>
                </div>

                <div class="input-group input-group-icon">
                <input placeholder="Número de Proprietários" />
                <div class="input-icon">
                    <i class="fa fa-envelope"></i>
                </div>

                <input placeholder="Município" />
                <div class="input-icon">
                    <i class="fa fa-key"></i>
                </div>
                </div>

            </div>
            
            </form>
        </div>

    </main>

</body>
</html>