{% load static %}
<!DOCTYPE html>
<html lang="en">

{% include 'base.html' %}

<body>

    {% include 'sidebar.html' %}

    <!-- Main -->
    <main id="main" class="flexbox-col">

        <div class="container">
            <form method="post">
            {% csrf_token %}
            <div class="row">

                <h4>Cadastro de Usuários</h4>
                <br>
                <div class="input-group input-group-icon">
                    <div>
                        <input autocomplete="off" type="text" placeholder="Nome" />
                    </div>

                    <div>
                        <input autocomplete="off" type="text" placeholder="Sobrenome" />
                    </div>
                </div>

                <div class="input-group input-group-icon">
                    <input autocomplete="off" placeholder="E-mail" />
                </div>

                <div autocomplete="off" class="input-group input-group-icon">
                    <input placeholder="Senha"/>
                </div>

            </div>
            <button type="submit">Adicionar</button>
            
            </form>
        </div>

    </main>

</body>
</html>