* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
}

html, body {
  margin: 0;
  width: 100%;
  color: hsl(var(--text-primary));
  font-family: var(--font-main);
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  width: 0px; /* Para Chrome, Safari, e Opera */
}

/*================================
  Login Area CSS
================================*/
.login-page{
  height: 100vh;
  background-color: #202020;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.login-icon img{
  height: 14vh;
}

.login-card{
  width: 350px;
  height: 350px;
  border-radius: 10px;
  display: flex;
  padding: 50px;
  justify-content: space-around;
  flex-direction: column;
  background-color: #fff;
}

.login-card h2{
  color: #333;
  font-weight: bolder;
  font-family: sans-serif;
}

.login-card button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #202020;
  height: 4vh;
  border-radius: 5px;
  font-size: 19px;
  color: #fff;
  font-weight: bolder;
  font-family: sans-serif;
}

.login-card button:hover {
  cursor: pointer;
}

.system-page {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  color: #333;
}


:root {
  --primary: 237, 94%, 81%;
  --background: 266, 16%, 92%;
  --background-secondary: 256, 12%, 12%;
  --text-primary: 0, 0%, 0%;
  /* Colors */
  --black: 0, 0%, 0%;
  --white: 0, 0%, 100%;
  --quite-gray: 0, 0%, 50%;
  --grooble: 10, 28%, 93%;
  /* Sizes */
  --heading-large: 5.6rem;
  --heading-medium: 3.6rem;
  --heading-small: 2.4rem;
  --paragraph: 1.11rem;
  --navbar-buttons: 2.4rem;
  /* misc */
  --transition-main: .175, .685, .32;
  /* Fonts */
  --font-main: "Poppins";
}


/* ============
  Typography
 ============ */

/* Headings */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
/* Font Size */
h1 {
  font-size: var(--heading-large);
}
h2 {
  font-size: var(--heading-medium);
}
h3 {
  font-size: var(--heading-small);
}
h4 {
  font-size: calc(var(--heading-small) - .2rem);
}
h5 {
  font-size: calc(var(--heading-small) - .4rem);
}
h6 {
  font-size: calc(var(--heading-small) - .6rem);
}

/* Paragraphs */
p {
  margin: 0;
  font-size: var(--paragraph);
}

/* =========
  Buttons
 ========= */

button {
  padding: .8em 1.2em;
  border: 1px solid hsl(var(--black));
  background-color: hsl(var(--background));
  font-size: var(--paragraph);
  cursor: pointer;
  outline: none;
}

/* =======
  Lists
 ======= */

ul, ol {
  margin: 1em 0;
}


/* =========
  Classes
 ========= */

/* ================
  Global classes
 ================ */

/* =========
  Flexbox
 ========= */

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexbox-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flexbox-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/* Columns */
.flexbox-col {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.flexbox-col-left {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}
.flexbox-col-left-ns {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.flexbox-col-right {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
}
.flexbox-col-start-center {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
/* Spacings */
.flexbox-space-bet {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* =========
  Classes
 ========= */

.view-width {
  width: 70%;
}

/* ========
  Navbar
 ======== */

#navbar {
  top: 0;
  padding: 0;
  width: 5em;
  height: 100vh;
  position: fixed;
  background-color: #07641B;
  transition: width .35s cubic-bezier(var(--transition-main), 1);
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 10;
}
#navbar:hover {
  width: 16em;
}
#navbar::-webkit-scrollbar-track {
  background-color: hsl(var(--background-secondary));
}
#navbar::-webkit-scrollbar {
  width: 8px;
  background-color: hsl(var(--background-secondary));
}
#navbar::-webkit-scrollbar-thumb {
  background-color: hsl(var(--primary));
}
.navbar-items {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* Navbar Logo */
.navbar-logo {
  margin: 0 0 2em 0;
  width: 100%;
  height: 5em;
}
.navbar-logo > .navbar-item-inner {
  width: calc(5rem - 8px);
}
.navbar-logo > .navbar-item-inner:hover {
  background-color: transparent;
}
.navbar-logo > .navbar-item-inner > svg {
  height: 2em;
  fill: white;
}
/* Navbar Items */
.navbar-item {
  padding: 0 .5em;
  width: 100%;
  cursor: pointer;
}
.navbar-item-inner {
  padding: 1em 0;
  width: 100%;
  position: relative;
  color: hsl(var(--white));
  border-radius: .25em;
  text-decoration: none;
  transition: all .2s cubic-bezier(var(--transition-main), 1);
}
.navbar-item-inner:hover {
  color: hsl(var(--white));
  background: #129D3C;
  box-shadow: 0 17px 30px -10px hsla(var(--black), .25);
}
.navbar-item-inner-icon-wrapper {
  width: calc(5rem - 1em - 8px);
  position: relative;
}
.navbar-item-inner-icon-wrapper ion-icon {
  position: absolute;
  font-size: calc(var(--navbar-buttons) - 1rem);
}
.link-text {
  margin: 0;
  width: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all .35s cubic-bezier(var(--transition-main), 1);
  overflow: hidden;
  opacity: 0;
}
#navbar:hover .link-text {
  width: calc(100% - calc(5rem - 8px));
  opacity: 1;
}

/* ======
  Main
 ====== */

#main {
  margin: 0 0 0 5em;
  background-color: #fff;
}
#main > h2 {
  width: 80%;
  max-width: 80%;
}
#main > p {
  width: 80%;
  max-width: 80%;
}

/* =============
  ::Selectors
 ============= */

/* Selection */
::selection {
  color: hsl(var(--white));
  background: hsla(var(--primary), .33);
}
/* Scrollbar */
::-webkit-scrollbar-track {
  background-color: hsl(var(--background));
}
::-webkit-scrollbar {
  width: 8px;
  background-color: hsl(var(--background));
}
::-webkit-scrollbar-thumb {
  background-color: hsl(var(--primary));
}

/* ===============
  5. @keyframes
 =============== */

/* ==============
  @media rules
 ============== */

@media only screen and (max-width: 1660px) {
  :root {
      /* Sizes */
      --heading-large: 5.4rem;
      --heading-medium: 3.4rem;
      --heading-small: 2.2rem;
  }
}
@media only screen and (max-width: 1456px) {
  :root {
      /* Sizes */
      --heading-large: 5.2rem;
      --heading-medium: 3.2rem;
      --heading-small: 2rem;
  }
  .view-width {
      width: 80%;
  }
}
@media only screen and (max-width: 1220px) {
  .view-width {
      width: 70%;
  }
}
@media only screen and (max-width: 1024px) {
  :root {
      /* Sizes */
      --heading-large: 5rem;
      --heading-medium: 3rem;
      --heading-small: 1.8rem;
  }
  .view-width {
      width: 75%;
  }
}
@media only screen and (max-width: 756px) {
  :root {
      /* Sizes */
      --heading-large: 4rem;
      --heading-medium: 2.6rem;
      --heading-small: 1.6rem;
      --paragraph: 1rem;
      --navbar-buttons: 2.2rem;
  }
  .view-width {
      width: calc(100% - 5em);
  }
}
@media only screen and (max-width: 576px) {
  .view-width {
      width: calc(100% - 3em);
  }
}
@media only screen and (max-width: 496px) {
}


/* Área de edição */
.edit-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 20%;
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.edit-project, .edit-task {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit-container textarea {
  resize: none;
  height: 80px;
}

.save-btn {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-btn:hover {
  background-color: #45a049;
}


.project-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.project-menu {
  background-color: #3b3b3b;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-left: 120px;
}

/* Painel de Projetos */
.project-list {
  background-color: #2b2b2b;
  padding: 20px;
  width: 20%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  color: white;
}

.new-project-container {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

/* Cards de Projeto */
a {
  text-decoration: none;
  outline: none;
}
.project-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #3b3b3b;
  cursor: pointer;
  transition: transform 0.2s;
  margin-bottom: 10px;
  border-radius: 8px;
}
.project-card-info {
  width: 85%;
  padding: 15px;
  border-radius: 8px;
}
.project-card-new-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 15%;
  padding: 0;
  margin: none;
}
.project-card-new-user svg {
  height: 30px;
  width: 30px;
  fill: #4CAF50;
}
.project-card svg:hover {
  transform: scale(1.10);
  fill: #46e64b;
}
.project-card:hover {
  transform: scale(1.05);
}
.project-card h2 {
  font-size: 18px;
  color: #fff;
}
.project-card p {
  color: #ddd;
  font-size: 14px;
}

.task-row-new-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: none;
}
.task-row-new-user svg {
  height: 30px;
  width: 30px;
}

/* Botão Novo Projeto */
.new-project-btn {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
.new-project-btn:hover {
  background-color: #45a049;
}

/* Efeito de seleção para projetos e tasks */
.selected-project {
  border: 2px solid #4CAF50;
  transform: scale(1.05);
}

.selected-task {
  background-color: #d0f0c0;
  border-left: 4px solid #4CAF50;
}

/* Tabela de Tarefas */
.task-table-container {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  width: 79%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}
.responsive-table .table-header, .responsive-table .table-row {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-radius: 3px;
}

.table-header {
  background-color: #95A5A6;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #fff;
}

.table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.col-1, .col-2, .col-3{
  flex-basis: 20%;
}
.col-4 {
  flex-basis: 30%;
}
.col-5 {
  flex-basis: 10%;
}

/* Efeito hover para linhas da tabela */
.table-row:hover {
  transform: scale(1.02);
  background-color: #f0f0f0;
  cursor: pointer;
}

.new-task-btn {
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  position: relative;
  background-color: #2b2b2b;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  color: white;
  font-size: 14px;
  font-family: sans-serif;
}

.new-task-btn:hover {
  transform: scale(1.02);
  background-color: #3b3b3b;
  cursor: pointer;
}
.edit-input {
  width: 100%;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


/* Modal CSS */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.container-form {
  max-width: 800px;
  background: #fff;
  width: 800px;
  padding: 25px 40px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.container-form .text {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Lato', sans-serif;
}

.container-form form {
  padding: 30px 0 30px 0;
}

.container-form form .form-row {
  display: flex;
  margin: 32px 0;
}

form .form-row .input-data,
form .form-row .select-data {
  outline: none;
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}

form .form-row .textarea {
  height: 70px;
}

.input-data input:focus ~ label, .input-data .custom-input:focus ~ label,
.select-data select:focus ~ label, .select-data .custom-select:focus ~ label,
.input-data input:not(:placeholder-shown) ~ label, .input-data .custom-input:not(:placeholder-shown) ~ label,
.textarea textarea:focus ~ label, .textarea textarea:not(:placeholder-shown) ~ label, .select-data select:valid ~ label {
  outline: none;
  border: none;
  transform: translateY(-20px);
  font-size: 14px;
  color: green;
}

.textarea textarea {
  resize: none;
  padding-top: 10px;
}

.input-data label,
.select-data label {
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 15px;
  transition: all 0.3s ease;
}

.textarea label {
  width: 100%;
  bottom: 40px;
}

.input-data .custom-input, .select-data .custom-select, .textarea textarea {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

.input-data .underline, .select-data .underline {
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 100%;
}

.input-data .underline:before,
.select-data .underline:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: green;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.input-data input:focus ~ .underline:before, .input-data input:not(:placeholder-shown) ~ .underline:before,
.input-data .custom-input:not(:placeholder-shown) ~ .underline:before,
.select-data select:focus ~ .underline:before, .select-data select:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before, .textarea textarea:not(:placeholder-shown) ~ .underline:before {
  outline: none;
  border: none;
  transform: scale(1);
}

.custom-select {
  appearance: none;
  font: inherit;
  background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center / 1.4em, linear-gradient(to left, #333 3em, transparent 3em);
  color: inherit;
  cursor: pointer;
}

select, input:focus {
  outline: none;
  border: none;
}
